# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem

# coverage
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# turbo
.turbo/
